.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;
    margin: 0 auto;
    align-items: center;
}
.label{
    font-size: 20px;
    font-weight: bold;
    display: flex;
  flex-direction: column;
}

.input {
    width: 400px;
    height: 1.5em;
    font-size: 20px;
    outline: none;
    border-radius: 16px;
    border: none;
    padding: 10px;
    box-shadow: inset 2px 2px 5px
      rgba(0, 0, 0, 0.4);
    color: rgb(0, 15, 55);
    text-shadow: 2px 2px 5px
      rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
  }

  .errorMessage {
    color: rgb(233, 140, 226);
    font-size: 18px;
    margin-bottom: 20px;
  }

  .button {
    width: 416px;
    height: 56px;
    border-radius: 16px;
    border: none;
    background-color: #92c8da;
    font-size: 24px;
    color: rgb(0, 15, 55);
    text-shadow: 2px 2px 5px
      rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px
      rgba(0, 0, 0, 0.5);
  }